

/* nav style */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.nav-top{
    display: flex;
align-items: center;
justify-content: space-between;
padding:0px 150px 158px 150px;
}
.nav-logo{
    width: 99px;
    height: 51px;
    color: #4E47FF;
}
.btn-primary{
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 16px;
    color: white;
    padding: 12px 36px ;
    border-radius: 10px;
    border: none;
}
.banner-content1{
text-align: center;
padding: 60px 267.5px 150px 267.5px;
}
.banner1{
    background-image: url("../Assets/Hero-bg.png");
}
.banner2{
display: flex;
justify-content: center;
margin: 116px 15px;
gap: 23px;
}
.banner-title{
     width: bold ; 
     color: #252432;  
     padding: 62.5px ; 
     
}
.banner-content2{
max-width: 517px;
    height: 203px;

}
 .banner-img2{
     max-width: 403px;
    height: 328px;
}  
.img2{
    border-radius: 48px;
}


      .stats-section {
      text-align: center;
      border-radius:18px;
      background-color: rgb(211, 222, 231);
     padding: 50px 80px;
     margin: 116px 15px;
     
    }

    .stats-section h2 {
      font-size: 38px;
      margin-bottom: 116px 160px;
      color: #252432;
      
    }

    .stats-container {
     
      flex-wrap: wrap;
       justify-content:space-around; 
      gap: 58px;
       display: flex;
    }

    .stat-box {
      background-color: #f0f4f8;
      padding: 30px;
      border-radius: 12px;
      width: 200px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    }

    .stat-box h3 {
      font-size: 2em;
      color: #4E47FF;
      margin: 0;
    }

    .stat-box p {
      margin-top: 10px;
      font-size: 1em;
      color: #555;
    }
    .h2-title{
      text-align: center;
      color: #252432;
      width: bold;
    }
    .testimonial-all{
      display: flex;
      gap: 20px;  
    }
    .pic-title{
      display: flex;
    }
    .testimonial{
            background-color: FFFFFF;
            padding: 24px 24px 24px 24px;
    }
 .name{
  padding: 5px;
 }
.focus{
  text-align: center;
  margin: 100px;

}
.focus-title{
  color: #000000;
    
}
.focus-discription{
  color: #000000;
 
}
.focus-img{
  border-radius: 48px;
margin: 20px;
}
.footer{
   padding: 93px 650px; 
  display: flex;
  gap: 100px;
    align-items: center;
    color: #e0d5d5;
}
.footer-colum{
  width: 50%;
  

}
.footer-title{
color: #000000;
}
footer input[type="text"], footer input[type="email"], footer textarea  {
  height: 64px;
  border-radius: 5px;
  background-color: white;
  display: block;
  width: 100%;;
   padding: 10px 20px; 
  margin-bottom: 24px;
}


